# dependencies
node_modules

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

#yarn files
yarn-error.log
launch.json
.vscode

#ts files
tempCodeRunnerFile.ts